.cardPublish {
    margin: 20px;
}

.group{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


img{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.group .form-group{
    flex: 1;
    margin: 5px;
}

.form-group{
    margin: 5px;
}

.openSource{
    margin: 15px 5px 15px 5px;
}

.groupAddTag {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.groupAddTag .form-group{
    width: 10%;
}

.groupAddTag input{
    max-width: 100px;
}

.tags{
    display: flex;
    border-radius: 2px;
    align-items: baseline;
    padding: 2px 10px 5px 5px;
    background-color: #cdcdcd4f;
}

.tags img{
    margin: 0;
    width: 10px;
    height: 10px;
}

.tags p{
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
