#WAP {
    float: left;
    width: 50%;
    padding-top: 5%;
    padding-left: 15%;
  }
  
  .urlRepo {
  color: blue;
}

  #mocha {
    float: right;
    width: 50%;
    height: 400px;
    overflow: scroll;
    padding: 0%;
  }

  #onetest {
    display: flex;
  }

  #inputs {
    visibility: hidden;
    display: grid;
  }

  #urlPlugin {
    width: 300px;
  }

  #main {
    float: left;
    width: 50%
  }

  #layout {
    margin-left: 2%;
    display: flex;
  }

  #helper {
    float: left;
    border: 3px;
    border-style: solid;
    padding: 10px;
    width: 50%
  }

  #bt_buildIt {
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    color: #6c757d;
    border: 1px solid #6c757d;
  }

  #bt_buildIt:hover {
    background-color: #6c757d;
    color: white;
  }

  .title {
    margin-left: 1%;
  }